extends layout

block content
  .fh5co-hero
    .fh5co-overlay
    .fh5co-cover.text-center(data-stellar-background-ratio='0.5', style='background-image: url(images/cover_bg_1.jpg);')
      .desc.animate-box
        h2
          | Kick-Start the new NodeJS Project by the Easiest way
        span
          | Crafted by&nbsp;
          a.fh5co-site-name(href='http://duongtuanluc.com/', target='_blank') Luc Duong
        p
          a.btn.btn-primary.btn-lg.btn-learn(href='/') Learn More
          a.btn.btn-primary.btn-lg.popup-vimeo.btn-video(href='https://www.youtube.com/watch?v=pU9Q6oiQNd0')
            i.icon-play
            |  Watch Video
  // end:header-top
  #fh5co-partner
    .container
      .partner-wrap
        .wrap
          .partner.animate-box
            .inner
              img.img-responsive(src='/images/logo-1.png', alt='')
          .partner.animate-box
            .inner
              img.img-responsive(src='/images/logo-2.png', alt='')
          .partner.animate-box
            .inner
              img.img-responsive(src='/images/logo-3.png', alt='')
          .partner.animate-box
            .inner
              img.img-responsive(src='/images/logo-4.png', alt='')
          .partner.animate-box
            .inner
              img.img-responsive(src='/images/logo-5.png', alt='')
  #fh5co-work
    .container
      .row
        .col-md-12.work
          .row
            .col-md-6.col-md-pull-2
              .half-inner(style='background-image:url(images/work-1.jpg);')
            .col-md-6.animate-box
              .desc
                h3
                  a(href='#') Guitar Music
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                p
                  a.btn.btn-primary(href='/about') Learn More
        .col-md-12.work
          .row
            .col-md-6.col-md-push-6
              .half-inner.half-inner2(style='background-image:url(images/work-2.jpg);')
            .col-md-6.col-md-pull-6.animate-box
              .desc.desc2
                h3
                  a(href='#') A Cube of Ice
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                p
                  a.btn.btn-primary(href='/') Learn More
    #fh5co-features
      .container
        .row
          .col-md-4.animate-box
            .feature-left
              span.icon
                i.icon-laptop
              .feature-copy
                h3 Retina Ready
                p Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.
          .col-md-4.animate-box
            .feature-left
              span.icon
                i.icon-mobile
              .feature-copy
                h3 Responsive Layout
                p Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.
          .col-md-4.animate-box
            .feature-left
              span.icon
                i.icon-browser
              .feature-copy
                h3 Clean & Minimal
                p Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.
  #fh5co-services-section
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
          h3 What We Do
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.
    .container
      .row.text-center
        .col-md-4.col-sm-4
          .services.animate-box
            span
              i.icon-browser
            h3 Web Development
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4.col-sm-4
          .services.animate-box
            span
              i.icon-mobile
            h3 Mobile Apps
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4.col-sm-4
          .services.animate-box
            span
              i.icon-tools
            h3 UX Design
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4.col-sm-4
          .services.animate-box
            span
              i.icon-video
            h3 Video Editing
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4.col-sm-4
          .services.animate-box
            span
              i.icon-search
            h3 SEO Ranking
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-md-4.col-sm-4
          .services.animate-box
            span
              i.icon-cloud
            h3 Cloud Based Apps
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
  // END What we do
  #fh5co-content-section.fh5co-section-gray
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
          h3 Happy Clients
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.
    .container
      .row
        .col-md-4.animate-box
          .testimony
            blockquote
              | “If you’re looking for a top quality hotel look no further. We were upgraded free of charge to the Premium Suite, thanks so much”
            figure
              img.img-responsive(src='/images/person_1.jpg', alt='user')
            p.author John Doe
        .col-md-4.animate-box
          .testimony
            blockquote
              | “Me and my wife had a delightful weekend get away here, the staff were so friendly and attentive. Highly Recommended”
            figure
              img.img-responsive(src='/images/person_2.jpg', alt='user')
            p.author Rob Smith
        .col-md-4.animate-box
          .testimony
            blockquote
              | “If you’re looking for a top quality hotel look no further. We were upgraded free of charge to the Premium Suite, thanks so much”
            figure
              img.img-responsive(src='/images/person_3.jpg', alt='user')
            p.author Jane Doe
  // fh5co-content-section
  #fh5co-blog-section
    .container
      .row
        .col-md-8.col-md-offset-2.text-center.heading-section.animate-box
          h3 Recent From Blog
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.
    .container
      .row.row-bottom-padded-md
        .col-lg-4.col-md-4
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='/images/blog-1.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') 45 Minimal Worksspace Rooms for Web Savvys
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 21
                    i.icon-bubble2
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                a.btn.btn-primary(href='#') Read More
        .col-lg-4.col-md-4
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='/images/blog-2.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') 45 Minimal Worksspace Rooms for Web Savvys
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 21
                    i.icon-bubble2
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                a.btn.btn-primary(href='#') Read More
        .col-lg-4.col-md-4
          .fh5co-blog.animate-box
            a(href='#')
              img.img-responsive(src='/images/blog-3.jpg', alt='')
            .blog-text
              .prod-title
                h3
                  a(href='', #='') 45 Minimal Worksspace Rooms for Web Savvys
                span.posted_by Sep. 15th
                span.comment
                  a(href='')
                    | 21
                    i.icon-bubble2
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                a.btn.btn-primary(href='#') Read More
  // fh5co-blog-section
