doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title} - NodeJS KickStart
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='The NodeJS KickStart, Great one for starting new NodeJS Project')
    meta(name='keywords', content='NodeJS, NodeJS KickStart, Boilerplate, Node')
    meta(name='author', content='Luc Duong')
    meta(name='csrf-token', content=_csrf)
    // Facebook and Twitter integration
    meta(property='og:title', content='')
    meta(property='og:image', content='')
    meta(property='og:url', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:url', content='')
    meta(name='twitter:card', content='')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='shortcut icon', href='favicon.ico')
    // <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    // Animate.css
    link(rel='stylesheet', href='/css/animate.css')
    // Icomoon Icon Fonts
    link(rel='stylesheet', href='/css/icomoon.css')
    // Bootstrap
    link(rel='stylesheet', href='/css/bootstrap.css')
    // Magnific Popup
    link(rel='stylesheet', href='/css/magnific-popup.css')
    // Superfish
    link(rel='stylesheet', href='/css/superfish.css')
    link(rel='stylesheet', href='/css/style.css')
    // Modernizr JS
    script(src='/js/modernizr-2.6.2.min.js')
    // FOR IE9 below
    //if lt IE 9
      script(src='/js/respond.min.js')
  body
    #fh5co-wrapper
      #fh5co-page
        #fh5co-header
          header#fh5co-header-section
            .container
              include ./partials/nav
        block content
        include ./partials/footer
      // END fh5co-page
    // END fh5co-wrapper
    // jQuery
    script(src='/js/jquery.min.js')
    // jQuery Easing
    script(src='/js/jquery.easing.1.3.js')
    // Bootstrap
    script(src='/js/bootstrap.min.js')
    // Waypoints
    script(src='/js/jquery.waypoints.min.js')
    // Stellar
    script(src='/js/jquery.stellar.min.js')
    // Superfish
    script(src='/js/hoverIntent.js')
    script(src='/js/superfish.js')
    // Magnific Popup
    script(src='/js/jquery.magnific-popup.min.js')
    script(src='/js/magnific-popup-options.js')
    // Main JS
    script(src='/js/main.js')
